html {
    box-sizing: border-box;
    font-family: arial, helvetica, sans-serif;
}

body {
    background: #f4f4f4 !important;
}

img {
    max-width: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.container > * {
    padding: 10px;
}

.lblDiv{
    text-align:center;
}
.lblMsg {
    color: red !important;
    line-height: 40px;
    font-size: larger;
    visibility: visible;
    font-family: century gothic;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

/* li {
	float: left;
  } */

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

    li a:hover:not(.active) {
        background-color: #111;
    }

.active {
    background-color: #4CAF50;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
}

.dropdown {
    background-color: #333;
    color: white;
    width: 30%;
    margin: auto;
    border-radius: 10px;
    border: 1px solid black;
    text-align: center;
}

.ddType {
    width: 50%;
    float: left;
}

.ddPrice {
    width: 50%;
    float: left;
}

.dd {
    border-radius: 10px;
    width: 100px;
    padding-left: 5px;
    outline: none;
    border: none;
}

.contentDiv {
    background: white;
    padding: 10px;
    width: 80%;
    margin: auto;
    border-radius: 10px;
    border: 1px solid grey;
    box-shadow: 0px 0px 20px 0px cornflowerblue;
}

.imgDiv {
    width: 80%;
    height: 500px;
    margin: auto;
    border-radius: 10px;
}

    .imgDiv img {
        height: 400px;
        width: 100%;
        border-radius: 10px;
    }

.footer {
    background: #333;
    width: 100%;
    margin-bottom: 10px;
    color: white;
    text-align: left;
    padding: 20px;
    font-family: century gothic;
}
/*  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    
} */
.container > * {
    grid-column: 1 / span 12;
}
/**/
@media (min-width: 600px) {
    .links {
        grid-column: 1 / span 3;
        grid-row: 2;
    }

    .content, .footer {
        /*grid-column: 4 / span 9;*/
    }
    /* nav ul {
         display: flex; 
        justify-content: space-evenly; 

    } */
}

@media (min-width: 900px) {
    .links {
        grid-column: 1 / span 2;
    }

    .content {
        grid-column: 3 / span 7;
    }

    .footer {
        grid-column: 1 / span 12;
    }
}

.container {
    max-width: 1200px;
    min-width: 100%;
}

.rightalignIL {
    float: right;
}

.leftalignIL {
    float: left;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}
/* Start details page */

.content {
    float: right;
}

.panelbox {
    float: right;
}

@media (max-width: 1200px) {


    .contentDiv {
        background: white;
        padding: 10px;
        width: 80%;
        margin: auto;
        box-shadow: 0px 0px 20px 0px cornflowerblue;
    }

    .dropdown {
        width: 100%;
    }

    .ddType {
        width: 100%;
    }

    .ddPrice {
        width: 100%;
    }

    .dd {
        width: 80%;
    }

    .imgDiv {
        width: 100%;
        height: 500px;
        margin: auto;
        border-radius: 10px;
    }

        .imgDiv img {
            height: 400px;
            width: 100%;
            border-radius: 10px;
        }
}
/* Compatible for tablet devices since the max-width is 900px* All the columns are resizing to 100% width */
@media (max-width: 900px) {
    .dropdown {
        width: 100%;
    }

    .ddType {
        width: 100%;
    }

    .ddPrice {
        width: 100%;
    }

    .dd {
        width: 80%;
    }

    .contentDiv {
        background: white;
        padding: 10px;
        width: 100%;
        margin: auto;
        box-shadow: 0px 0px 20px 0px cornflowerblue;
    }

    .leftcolumn {
        float: left;
        width: 100%;
        /* padding: 15px;  */
    }

    .rightcolumn {
        float: left;
        width: 100%;
    }

    .imgDiv {
        width: 100%;
        height: 350px;
        margin: auto;
        border-radius: 10px;
    }

        .imgDiv img {
            height: 250px;
            width: 100%;
            border-radius: 10px;
        }
}
/* Compatible for mobile devices since the max-width is 600px* All the columns are resizing to 100% width */
@media (max-width: 600px) {
    .leftcolumn {
        float: left;
        width: 100%;
        /* padding: 15px;  */
    }

    .rightcolumn {
        float: left;
        width: 100%;
    }

    .contentDiv {
        background: white;
        padding: 10px;
        width: 100%;
        margin: auto;
        box-shadow: 0px 0px 20px 0px cornflowerblue;
    }

    .dropdown {
        width: 100%;
    }

    .ddType {
        width: 100%;
    }


    .ddPrice {
        width: 100%;
    }

    .dd {
        width: 60%;
    }

    .imgDiv {
        width: 100%;
        height: 250px;
        margin: auto;
        border-radius: 10px;
    }

        .imgDiv img {
            height: 150px;
            width: 100%;
            border-radius: 10px;
        }
}

@media (max-width: 320px) {
    .leftcolumn {
        float: left;
        width: 100%;
        /* padding: 15px;  */
    }

    .rightcolumn {
        float: left;
        width: 100%;
    }

    .contentDiv {
        background: white;
        padding: 10px;
        width: 100%;
        margin: auto;
        box-shadow: 0px 0px 20px 0px cornflowerblue;
    }

    .dropdown {
        width: 100%;
    }

    .ddType {
        width: 100%;
    }


    .ddPrice {
        width: 100%;
    }

    .dd {
        width: 50%;
    }

    .imgDiv {
        width: 100%;
        height: 300px;
        margin: auto;
        border-radius: 10px;
    }

        .imgDiv img {
            height: 150px;
            width: 100%;
            border-radius: 10px;
        }
}


.leftcolumn {
    float: left;
    width: 100%;
    padding: 0%;
}

.rightcolumn {
    float: left;
    width: 100%;
    padding: 0%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    /* display: table; */
    clear: both;
}

.row > * {
    padding-left: 15px;
    padding-right: 15px;
}

.mySlides {
    display: none;
    width: 100%;
}

.buttonnn {
    color: #009688;
    background: #fff;
    border: 1px solid #009688;
    font-size: 24px;
    font-weight: bold;
    padding: 7px 12px;
    font-weight: normal;
    margin: auto;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    border-radius: 10px;
}

    .buttonnn:hover, .buttonnn:active {
        color: #fff;
        background: #009688;
        text-decoration: none;
    }

input {
    border-radius: .375rem;
    margin-top: .25rem;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 2px 0 rgb(0 0 0 / 5%);
    border-color: #bbb;
    width: 100%;
}

/*#toast {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    background-color: #000;
    color: #fff;
    padding: 16px;
    border-radius: 4px;
    text-align: center;
    z-index: 1;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    visibility: hidden;
    opacity: 0;
}*/

/*#toast.show {
    visibility: visible;
    -webkit-animation: fadeInOut 30s;
    animation: fadeInOut 30s;
}

@keyframes fadeInOut {
    5%,95% {
        opacity: 1;
        top: 80px
    }

    15%,85% {
        opacity: 1;
        top: 30px
    }
}*/
