html {
	box-sizing: border-box;
	font-family: arial, helvetica, sans-serif;
}
img {
	max-width: 100%;
}
*,*:before,*:after {
	box-sizing: inherit;
}
.container {
	margin: 30px;
}
.container > * {
	padding: 10px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
  }
  
  /* li {
	float: left;
  } */
  
  li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  li a:hover:not(.active) {
	background-color: #111;
  }
  
  .active {
	background-color: #4CAF50;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
}
/*  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    
} */

.container > * {
    grid-column: 1 / span 12;
}
@media (min-width: 600px) {
    .links {
        grid-column: 1 / span 3;
        grid-row: 3;
    }
    .ads {
        grid-column: 1 / span 3;
        grid-row: 4;
    }
    .content, .footer {
        grid-column: 4 / span 9;
    }
    /* nav ul {
         display: flex; 
        justify-content: space-evenly; 

    } */
}
@media (min-width: 900px) {
    .links {
        grid-column: 1 / span 2;
    }
    .content {
        grid-column: 3 / span 7;
    }
    .ads {
        grid-column: 10 / span 3;
        grid-row: 3;
    }
    .footer {
        grid-column: 1 / span 12;
    }
}
.container {
    max-width: 1200px;
    min-width: 100%;
}
     .rightalignIL{float:right; } 
    .leftalignIL {
        float:left;
        max-width: inherit;
    }	
     
      .dropdown a:hover {background-color: #ddd;}
      
      .show {display: block;}